// colors
$thead-bg: #243349;
$thead-color: #fff;
$row-shade: #F6F6F6;
$border-color: #D7D3D7;

$event-bg-1: #FD773E;
$event-bg-2: #FD773E;
$event-bg-3: #FD773E;
$event-bg-4: #FD773E;
$event-color: #fff;


// typography
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$basefont-family: 'Montserrat', sans-serif;


// spacing
$base-space: 0.5rem;
$half-space: $base-space / 2;
$small-space: $base-space / 4;