@import '../../assets/scss/variables';


// TABLE
// ================================

.ngsc-table-wrapper {
  overflow: scroll;
  margin-left: 100px;
}

.ngsc-table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: $base-space;
}

.ngsc-head {
  background-color: $thead-bg;
  color: $thead-color;
}

.ngsc-fixed-col {
  position: absolute;
  left: 0;
  width: 100px;
}

tbody {
  tr:nth-child(2) {
    background-color: $row-shade;
  }
}

// tr td:first-of-type {
//   border-right: 2px solid $border-color;
// }


// EVENTS
// ================================

.ngsc-resource-events {
  padding: 0;
  overflow: hidden;
}


.ngsc-events-list {
  list-style: none;
  margin: $base-space 0;
  padding: 0;
}

.ngsc-event {
  background-color: $event-bg-1;
  border-radius: 5px;
  margin: $half-space 0;
  padding: $half-space 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $event-color;

  a {
    margin: $base-space;
    font-size: 0.8rem;
    color: $event-color;
    text-decoration: none;
  }
}