@import '../../assets/scss/variables';


// TABLE
// ================================

.ngsc-table {
  border: 1px solid $border-color;
  border-collapse: collapse;
}

td {
  padding: $base-space;
}

.ngsc-head {
  background-color: $thead-bg;
  color: $thead-color;
}

tbody {
  tr:nth-child(2) {
    background-color: $row-shade;
  }
}

tr td:first-of-type {
  border-right: 2px solid $border-color;
}


// EVENTS
// ================================

.ngsc-resource-events {
  padding: 0;
}


.ngsc-events-list {
  list-style: none;
  margin: $base-space 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ngsc-event {
  background-color: $event-bg-1;
  border-radius: 5px;
  margin: $half-space 0;
  padding: $half-space 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $event-color;

  a {
    margin: $base-space;
    font-size: 0.8rem;
    color: $event-color;
    text-decoration: none;
  }
}