<h2>Schedule component</h2>

<form>
  <select>
    <option value="0">1 Day View</option>
    <option value="2">3 Day View</option>
    <option value="6">7 Day View</option>
  </select>
</form>



<table class="ngsc-table">

  <thead class="ngsc-head">
    <tr>
      <td>Resource</td>
      <td *ngFor="let date of headerDates">
        {{date}}
      </td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let resource of schedule.resources">
      <td>{{ resource.name }}</td>
      <td [attr.colspan]=headerDates.length class="ngsc-resource-events">
        <ul class="ngsc-events-list">
          <li *ngFor="let event of resource.events" 
            class="ngsc-event" 
            [style.width.%]="setEventWidth(event)" 
            [style.marginLeft.%]="setEventPos(event)">
            <a href="{{ event.url }}" 
              [style.marginLeft.%]="alignEventText(event)" 
              title="{{ event.name }}: {{ event.start}} - {{ event.end }}">
              {{ event.name }}
            </a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>

</table>